﻿@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "EditAssignment";
}





<div class="form-style-6">
    <form id="form" method="post" action="EditTaskAction">
        <div>
            <h1>Edit Your Task</h1>


            <input type="hidden" name="TaskID" value="@Model.Tasks.FirstOrDefault().TasksID" />

            <input type="hidden" name="classID" value="@Model.cl.ClassID" />
            <h2 id="Delete">Task ID: @Model.Tasks.FirstOrDefault().TasksID  </h2>
            <br />


            <label for="description">Description</label><br />
            <textarea name="description" required>@Model.Tasks.FirstOrDefault().Description</textarea><br />

            <label for="startDate">Start Date</label>             <br />

            <input type="datetime" name="startDate" value="@Model.Tasks.FirstOrDefault().StartDate" required />
            <br />
            <label for="dueDate">Due Date</label>            <br />

            <input type="datetime" name="dueDate" value="@Model.Tasks.FirstOrDefault().DueDate" required />

            <br />
            <br />

            <input type="checkbox" name="Delete" value="True"> Delete

        </div>
        <div>
            <input type="submit" name="submit" value="Update Task" />
            <a href="#"  document.getElementById('category').value = 'The Category'; ">

        </div>
    </form>
</div>



