﻿@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "ViewRoster";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

@section scripts
{
    <script type="text/javascript" src="~/Scripts/scriptone.js"></script>
}

<div id="classListBody">
    <h2 style="text-align:center;">
        Class Rosters
    </h2>
    <hr />
    <h2 style="text-align:center;">
        Classes For: @ViewBag.name
        <br />
    </h2>
</div>

<div>
    @foreach (var i in Model.classList)
    {

        // +Get Teacher ID
        // +Match with Class ID
        // +Print out Class
        // Print out Students that match class

        //Loops Users, Finds Teacher
        for (int u = 0; u < Model.users.Count(); u++)
        {

            // If Teach Print Class
            if (i.UsersID == Model.users[u].UsersID && Model.users[u].UserName == ViewBag.name)
            {
                <div class="slide-toggle text-center">
                    <div class="container">
                        <div class="box-toggle">
                            <div style="max-width:97%;">
                                <div class="contorol">
                                    <h1>Class: @Html.DisplayFor(Name => i.Name)</h1>
                                    <h2>Class ID: @Html.DisplayFor(cD => i.ClassID)</h2>
                                    <hr />
                                    <h2>@Html.DisplayFor(Description => i.Description)</h2>
                                    <span class="toggle-info pull-left">
                                        <i class="fa fa-plus"></i>
                                    </span>
                                </div>
                                <div class="content-box">
                                    @for (int x = 0; x < Model.roles.Count(); x++)
                                    {
                                        if (Model.roles[x].ClassID == i.ClassID && Model.roles[x].RoleID == 2)
                                        {
                                            var bob = Model.roles[x].UsersID;
                                            for (int c = 0; c < Model.users.Count(); c++)
                                            {
                                                if (Model.users[c].UsersID == bob)
                                                {

                                                    <form action="removeStudent" method="POST">
                                                        <input type="hidden" name="classID" value="@i.ClassID" />
                                                        <input type="hidden" name="studentName" value="@Model.users[c].UsersID" />
                                                        <input type="hidden" name="currentClass" value="@Model.cl.ClassID" />

                                                        <h3 style="display:block; border-style: solid; border-width: 1px;">
                                                            Student: @Model.users[c].UserName

                                                            <span style="width:250px; display:inline-block;">
                                                            </span>
                                                            <input style="background-color:black; color:red;" type="submit" name="submit" value="Kick Student">


                                                        </h3>
                                                    </form>
                                                }
                                            }
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>