﻿@model Oodle.Models.ViewModels.StudentVM

<div class="row fontClass col">
    <table>
        <thead>
            <tr>
                <td>Quiz Name</td>
                <td> </td>
            </tr>
        </thead>
        @foreach (var Quiz in Model.QuizListQuizzes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(Notification => Quiz.Quiz.QuizName)
                </td>
                <td>
                    @*Add if statement to check if quiz has been taken, if so replace link with "Already Taken"*@
                    @if (!(Quiz.Taken))
                    {@Html.ActionLink("Take Quiz", "TakeQuiz", "Students", new { QuizID = Quiz.Quiz.QuizID, ClassID = Quiz.Quiz.ClassID }, null) }
                    else
                    { <text>Already Taken</text>}
                </td>
                <td>
                    @if (Quiz.Taken)
                    {@Model.StudentQuizzes.Where(q => q.QuizID == Quiz.Quiz.QuizID).FirstOrDefault().TotalPoints <text>/</text> @Quiz.Quiz.TotalPoints } 
                    else
                    { <text>N/A</text> }
                            </td>
            </tr>
        }
    </table>
</div>




