﻿@model Oodle.Models.ViewModels.TeacherVM

@{
    ViewBag.Title = "Tasks";
}
<center><h2>Tasks</h2></center>

<br />


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">



            <div>
                    @foreach (var i in Model.Tasks)
                    {
                            if (i.ClassID == Model.cl.ClassID)
                            {
                                var tsk = i;
                            <div class="block">
                                <div class="classItem" style='@(DateTime.Now>tsk.DueDate ?"background-color:red":"")'>>
                                    <div class="description">
                                        @Html.DisplayFor(Desc => tsk.Description)
                                    </div>
                                    <div class="dateLeft" style="color:#17252A">
                                        Start Date: @Html.DisplayFor(Desc => tsk.StartDate)
                                    </div>
                                    <div class="dateRight" style="color:#17252A">
                                        Due Date: @Html.DisplayFor(Desc => tsk.DueDate)
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            }

                    }
            </div>


        </div>
    </div>
</div>
