﻿@model Oodle.Models.ViewModels.ITeacherVM

﻿<!DOCTYPE html>
<html>
<head>


    <!--Jquery-->
    <script src="jquery-3.3.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Ubuntu" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Oodle</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/img/logo.png" class="img-center" height="45" width="90" />

            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>

                         <style>

                            /*****************************************************************************************************************/
                            /***                                      Drop Down Menu CSS                                                   ***/
                            /***                                                                                                           ***/
                            /*****************************************************************************************************************/
                            /* Cannot for the life of me make this work in the site.css. If anyone can, please do!*/
                            .dropDownButton {
                                display: block;
                                margin: 0;
                                padding: 15px;
                                color: #999999;
                                font-weight: 300;
                                font-family: "Ubuntu", sans-serif;
                                font-size: 20px;
                                line-height: 20px;
                            }

                            .dropDownDiv {
                                position: relative;
                                display: inline-block;
                                color: #999999;
                                margin: 0;
                                padding: 0;
                            }


                            .dropDownButton a:link, a:visited, a:link {
                                text-decoration: none;
                                color: #999999;
                            }

                            .dropDownButton:hover {
                                background-color: #2B7A78;
                                color: white;
                                text-decoration: none;
                            }


                            .dropDownDiv:hover .dropDown-content {
                                display: block;
                                margin: 0, 15px, 15px, 15px;
                            }



                            .dropDown-content {
                                display: none;
                                margin: 0, 15px, 15px, 15px;
                                text-align: center;
                                position: absolute;
                                background-color: #17252A;
                                min-width: 130px;
                                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                                z-index: 1;
                            }

                                .dropDown-content a {
                                    display: block;
                                }

                                    .dropDown-content a:hover {
                                        background-color: #3AAFA9;
                                        color: #FFFFFF;
                                    }

                            .dropDownLink a:hover, a:visited, a:link, a:active {
                                text-decoration: none;
                            }
                        </style>
   

                        <div class="dropDownDiv">

                            <span>@Html.ActionLink("Class Menu", "List", "Class", new { ClassID = Model.cl.ClassID }, new { @class = "dropDownButton" })</span>

                            <div class="dropDown-content">
                                @Html.ActionLink("Home", "Index", "Students", new { ClassID = Model.cl.ClassID }, null)
                                @Html.ActionLink("Grades", "Grade", "Students", new { ClassID = Model.cl.ClassID }, null)
                                @Html.ActionLink("Assignments", "Assignment", "Students", new { ClassID = Model.cl.ClassID }, null)
                                @Html.ActionLink("Quizzes", "QuizList", "Students", new { ClassID = Model.cl.ClassID }, null)
                                @Html.ActionLink("Tasks", "Tasks", "Students", new { ClassID = Model.cl.ClassID }, null)
                            </div>
                        </div>
                    </li>
                    <li>@Html.ActionLink("Tools", "Tools", "Home")</li>
                    <li>@Html.ActionLink("Calendar", "Calendar", "Home")</li>
                    <li><a href="https://oodle-dev.slack.com/" target="_blank">Go to Slack</a></li>

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <br />
    <!--, new { ClassID = (Model.cl.ClassID) }-->
    <div class="container body-content body-content">
        @RenderBody()

        <footer>
            <p>&copy; @DateTime.Now.Year - Oodle Incorporated</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

